body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}

/* ======== RESET ======== */

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* ======== COMON  ======== */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

/* ======== HEADER ======== */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-name-header {
  color: #2e2f42;
}

.logo-header {
  padding: 24px 0;
  margin-right: 76px;
}

.header-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-nav-item {
}

.header-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
}

/* .header .logo {
  background-color: pink;
} */

.user-address {
  margin-left: auto;
}

.user-address-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.user-address-item {
}

.user-address-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  display: block;
}

.user-address-link:hover,
.user-address-link:focus {
  color: #404bbf;
}

/*========= MAIN ============ */

/*-------- SECTION 1 --------- */

.hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
}

.solution-title {
  font-size: 56px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  line-height: 1.07;
  width: 496px;
  margin: 0 auto 48px auto;
}

.btn-open-service {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
}

.btn-open-service:hover,
.btn-open-service:focus {
  background-color: #404bbf;
}

/* ---------- SECTION 2 ------------- */

.features-section {
}

.features-title {
}

.features-list {
  display: flex;
}

.features-list-item {
}

.features-subtitle {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
}

.features-descr {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ----------- SECTION 3 --------------*/

.team-title {
}
.team-section {
  background-color: #f4f4fd;
}

.team-list {
}

.team-members {
  background-color: #ffffff;
}
.team-image {
}

.team-name {
  font-weight: 500;
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-position {
  line-height: 24px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* -------------- SECTION 4 ------------- */

.portfolio-section {
}

.portfolio-title {
}

.portfolio-list {
}

.portfolio-list-item {
}

.portfolio-image {
}

.portfolio-subtitle {
  font-weight: 500;
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio-descr {
  line-height: 24px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* ========== FOOTER ============*/

.footer-section {
  background-color: #2e2f42;
}

.invocation-descr {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo-name-footer {
  color: #f4f4fd;
}
